{{#if productFound}}
<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6 col-xl-6">
        <div class="card" style="border-radius: 15px;">
          <div class="bg-image hover-overlay ripple ripple-surface ripple-surface-light text-center"
            data-mdb-ripple-color="light">
            <img src="{{productFound.photo}}"
              class="img-fluid"
              alt="{{productFound.tittle}}" />
            </div>
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <div>
                <p class="text-dark">{{productFound.title}}</p>
                <p class="small text-muted">{{productFound.category}}</p>
              </div>
            </div>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
            <div class="d-flex justify-content-between">
              <p class="text-dark">Precio: ${{productFound.price}}</p>
              <p class="text-dark">Vendedor: "ACÁ VA VENDEDOR A FUTURO"</p>
            </div>
            <p class="small text-muted">STOCK: {{productFound.stock}}</p>
          </div>
          <hr class="my-0" />
          <div class="card-body pb-0">
                    <p class="text-dark">Descripción:</p>
              <p>{{productFound.description}}</p>
               </div>
          <hr class="my-0" />
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center pb-2 mb-1">
              <a href="/" class="text-dark fw-bold">Atrás</a>
              <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary">Agregar al Carrito</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{else}}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        El producto no existe o no se encontró la información.
      </div>
    </div>
  </div>
</div>
{{/if}}
</section>
