{{#if userLogged}}
<div class="container mt-2 mb-5">
  <div class="row">
    <!-- Columna para la información del usuario -->
    <div class="col-md-4 col-lg-3">
      <h3 class="mb-4 text-center">¡Bienvenid@ <br>{{userLogged.name}}!</h3>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Tu Información:</h5>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Nombre:</strong> {{userLogged.name}}</li>
            <li class="list-group-item"><strong>Apellido:</strong> {{userLogged.lastName}}</li>
            <li class="list-group-item"><strong>DNI:</strong> {{userLogged.dni}}</li>
            <li class="list-group-item"><strong>Manzana y Lote:</strong> {{userLogged.blockAndLot}}</li>
            <li class="list-group-item"><strong>Teléfono:</strong> {{userLogged.phone}}</li>
          </ul>
        </div>
      </div>
    </div>
    
    <!-- Columna para los productos -->
    <div class="col-md-8 col-lg-9">
      <h3 class="mb-5 pb-2 text-center">Tus Productos Publicados</h3>
      <div class="row">
        <!-- Productos del Usuario -->
        {{#each userProducts}}
        <div class="col-sm-6 col-lg-4 mb-4">
          <div class="card h-100">
            <img src="/products/{{this.photo}}" class="card-img-top" alt="{{this.title}}">
            <div class="card-body">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="card-text">Precio:${{this.price}} </p>
              <a href="/products/{{this._id}}" class="btn btn-primary">Ver / Editar</a>              
            </div>
          </div>
        </div>
        {{/each}}
        <!-- Productos del Usuario -->       
      </div>
    </div>
  </div>
</div>

{{else}}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="alert alert-danger" role="alert">
        El usuario no existe o no se encontró la información.
      </div>
    </div>
  </div>
</div>
{{/if}}
